<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>

    <!-- Scripts -->
    <script src="//code.jquery.com/jquery-3.7.1.js"></script>
    <script src="//cdn.datatables.net/2.3.7/js/dataTables.js"></script>
    <script src="//cdn.datatables.net/responsive/3.0.2/js/dataTables.responsive.min.js"></script>

    <!-- Styles -->
    <link rel="stylesheet" href="//cdn.datatables.net/2.3.7/css/dataTables.dataTables.css">
    <link rel="stylesheet" href="//cdn.datatables.net/responsive/3.0.2/css/responsive.dataTables.min.css">
</head>
<body>
    <%- include('header') %>
    <h1>Order Summary</h1>
    <table id="order-table" class="display">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Toppings</th>
                <th>Size</th>
                <th>Method</th>
                <th>Comment</th>
                <th>Timestamp</th>                                
            </tr>
        </thead>
        <tbody>

    <% orders.forEach(order => { %>
        <tr>
            <td><%= order.fname %> <%= order.lname %></td>
            <td><%= order.email %></td>
            <td><%= order.toppings %></td>
            <td><%= order.size %></td>
            <td><%= order.method %></td>
            <td><%= order.comment %></td>
            <td><%= order.timestamp.toLocaleString() %></td>
        </tr>
    <% }) %>
        </tbody>    
    </table>

    <script>
        new DataTable('#order-table', {
            responsive: true
        });
    </script>
</body>
</html>